body {
    display: flex;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header,.info,.quote,.signup  {
    flex: 1;
}

.header {
    background-color: #127780;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.headertop {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.headertop img {
    height: 130px;
    width: auto;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}


.headerbottom {
    display: flex;
    justify-content: center;
    max-width: 900px;
    align-self: center;
    gap: 20px;
    padding-bottom: 20px;
}

.headerbottom > * {
    flex: 1;
}

#banner {
    height: 100%;
    width: 100%;

}

.headerbottom img {
    background-color: grey;
    height: 200px;
} 


.hbottomleft {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
}
.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

.headerbutton {
    background-color: #0c4d53;
    color: white;
    padding: 10px 20px;
    align-self: flex-start;
    border: 1px solid white;
}

.headerbutton:hover {
    background-color: white;
    color: black;
}


.infotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 900;
    margin: 20px 0;
}

.infocontent {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    flex: 1 1 auto;
    max-width: 120px;
    font-size: smaller;
}

.boximage {
    border: 3px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}





.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q1 {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
}


.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbox {
    background-color: #0c4d53;
    border-radius: 5px;
    display: flex;
    color: white;
    height: 120px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sbutton {
    background-color: #0c4d53;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}

.footer {
    height: 70px;
    background-color: #127780;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


